body {
  background: #000;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  background: aliceblue;
  text-align: center;
  padding: 50px 30px;
}

.wrapper .buttons button {
  padding: 10px 15px;
  margin: 20px;
  /* width: 30px; */
}

.wrapper .inputs .input-block {
  display: inline-block;
  margin-top: 30px;
}

.wrapper .inputs .input-block label {
  display: block;
}

.wrapper .inputs .input-block:last-child {
  margin-left: 40px;
}

.wrapper .inputs .input-block input {
  width: 60px;
}